/* XXX: just basic styles to get things working. Please refactor as you will */
#geometry {
  .triangle, .circle, .square {
    fill: none;
    stroke-width: 0.01;
    stroke: #333;
  }
}

#shapes {
  .triangle, .circle, .square {
    fill: #eee;
  }
}